@model OrdemServicoAspNetMVC.Models.OrdemServico

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OrdemServico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <input asp-for="IdCliente" class="form-control" />
                <span asp-validation-for="IdCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idTipoServico" class="control-label"></label>
                <input asp-for="idTipoServico" class="form-control" />
                <span asp-validation-for="idTipoServico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idTipoContrato" class="control-label"></label>
                <input asp-for="idTipoContrato" class="form-control" />
                <span asp-validation-for="idTipoContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idColaborador" class="control-label"></label>
                <input asp-for="idColaborador" class="form-control" />
                <span asp-validation-for="idColaborador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idDefeitoReclamado" class="control-label"></label>
                <input asp-for="idDefeitoReclamado" class="form-control" />
                <span asp-validation-for="idDefeitoReclamado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idDefeitoIdentificado" class="control-label"></label>
                <input asp-for="idDefeitoIdentificado" class="form-control" />
                <span asp-validation-for="idDefeitoIdentificado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idSolucaoAplicada" class="control-label"></label>
                <input asp-for="idSolucaoAplicada" class="form-control" />
                <span asp-validation-for="idSolucaoAplicada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAbertura" class="control-label"></label>
                <input asp-for="DataAbertura" class="form-control" />
                <span asp-validation-for="DataAbertura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFechamento" class="control-label"></label>
                <input asp-for="DataFechamento" class="form-control" />
                <span asp-validation-for="DataFechamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
